.team-section {
    background-color: $color-gray;
    padding-top: 50px;
    padding-bottom: 50px;
} 

.sec-title {
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    
    &__color {
        color: $color-midial-blue;
        font-weight: 300;
    }
    
    h2 {
        border-bottom: 1.5px solid #E3E3E3;
        padding: 0 30px;
        padding-bottom: 10px;
        display: inline-block;
        position: relative;
        &::after  {
            position: absolute;
            content: '';
            width: 60px;
            bottom: 0;
            border-bottom: 4px solid $color-midial-blue;
            left: 50%;
            transform: translateX(-50%); 
        }
    }
}

.card {
    background-color: $color-white;
    overflow: hidden;
    margin-bottom: 30px;

    &:hover .card__mask {
        opacity: 1;
    }

    &__content {
        margin: 0;
        position: relative;
    }

    &__mask {
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $color-blue;
        position: absolute;
        transition: opacity 1s ease;
    }

    &__info {
        padding: 5px 10px;

        &-name {
            color: $color-black;
            text-decoration: none;
            font-size: 14px;
            font-weight: bolder;
            text-transform: $text-transform;
        }

        &-color {
            color: $color-midial-blue;
            text-transform: $text-transform;
        }

        .title {
            margin-bottom: 0;
        }
    }

    &:hover .box {
        right: 0px;
    }
}

.box {
    height: 100%;
    width: 50px;
    position: absolute;
    background-color: $color-light-blue;
    z-index: 2;
    right: -50px;
    transition: right 1s;
    display: flex;
    flex-direction: column;

    &__container-ciriel {
            background-color: $color-white;
            border-radius: 15px;
            width: 20px;
            height: 20px;
            margin: auto;
            margin-top: 20px;

    }
}

.card__image {
    width: 100%;
    display: block;
}
