.team_section {
    background-color: #F7F7F7;

    img {
        width: 100%;
        display: block;
    }

    .box {
        margin: 0;
        position: relative;
    }

    .lover-content {
        padding: 15px 20px 10px;
    }

    .grid {
        background-color: white;
    }

    .newclass::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
        position: absolute;
        z-index: 1;
    }

    .two {
        animation: muv 1s ease 3 normal;
    }

    @keyframes muv {
        100% { right: 30px;}
    } 

    .newbox {
        height: 100%;
        width: 50px;
        background-color: rgb(137, 172, 177);
        z-index: 2;
        position: absolute;
        right: -30px;
    }
}